.navbar {
  background-color: black;
  .logo {
    .icon {
      font-size: 30px;
    }
    color: white;
    font-size: 30px;
  }
  a {
    color: white;
    &:hover {
      color: whitesmoke;
    }
  }
}
