.certificate{
    .wrapper{
        .certificateTitle{
            h3{
                .icon{
                    color: #00b894;
                    font-size: 30px;
                }
                span{
                    color: #00b894;
                }
            }
        }
        .Card{
            
            border-radius: 10px;
            box-shadow: 4px 4px 12px .01px #6f7070;
            
            .circle{
                height: 100px;
                width: 100px;
                background-color: #00b894;
                border-radius: 50%;
                overflow: hidden;
                span{
                    font-size: 24px;
                    font-weight: 900;
                    color: white;
                }
            }
            h5{
                color: #00b894;
            }
            h5,h6,p{
                text-transform: capitalize;
            }
            button{
                text-transform: capitalize;
            }
        }
    }
}